<div class="row justify-content-between content-container">
    <div class="col">
        <mat-card class="select-card" (click)="navigateToPage('/new-order')">
            <p>
                <span class="pe-2">
                    <mat-icon>shopping_cart</mat-icon>
                </span>Tạo đơn hàng mới
            </p>
        </mat-card>
    </div>
    <div class="col">
        <mat-card class="select-card" (click)="navigateToPage('/finance')">
            <p>
                <span class="pe-2">
                    <mat-icon>list</mat-icon>
                </span>
                Tình hình tài chính
            </p>
        </mat-card>
    </div>
    <div class="col">
        <mat-card class="select-card" (click)="navigateToPage('/manage-store')">
            <p>
                <span class="pe-2">
                    <mat-icon>store</mat-icon>
                </span>
                Quản lý kho
            </p>
        </mat-card>
    </div>
</div>